.card {
    display: flex;
    flex-direction: column;
}

.card__image {
    width: inherit;
}

.card__img {
    width: 100%;
    height: 100%;
}

.card__text {
    font-family: var(--text-font);
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    text-align: left;
}

.card__title {
    font-family: var(--text-font);
    color: #fff;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    text-align: left;
}

.card__content {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--color-blog);
}

.card-intro {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}